body {
  margin: 0;
  background-image: url("cloudy_d-e618500.jpg");
}

#roomtemptext {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#temperature-display {
  font-size: 100px;
  font-style: oblique;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#power-save {
  font-size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: left;
  margin-left: 90px;
}

#local-weather {
  font-size: 90px;
  font-style: oblique;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 40px;
}

#up {
  float: left;
  margin-left: 40px;
}

#up:active {background-color: #3e8e41;}

#up:hover {background-color: #3e8e41}

#down {
  float: right;
  margin-right: 40px;
}

#down:active {background-color: #3e8e41;}

#down:hover {background-color: #3e8e41}

#slider {
  display: block;
  margin: 0 auto;
  width: 70px;
}

#reset {
  display: block;
  margin: 0 auto;
}

#local-weather-button {
  float: left;
  margin-left: 40px;
  position: absolute;
  right:    50px;
  bottom:   30px;
}

#local-weather-button:active {background-color: #3e8e41;}

#local-weather-button:hover {background-color: #3e8e41}

#left-side {
  float: left;
  height: 100vh;
  width: 50%;
  margin: 0;
}

#energy-usage {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#right-side {
  float: right;
  height: 100vh;
  width: 50%;
  margin: 0;
}

.givencity {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 25px;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: 170px;
  right:   80px;
  position: absolute;
}

#left-container {
  background: rgba(225, 225, 225, .5);
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 100px;
  height: 460px;
}

#right-container {
  background: rgba(225, 225, 225, .5);
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 100px;
  height: 460px;
  position: relative;
}

.centred {
  text-align: center;
  margin-bottom: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.centred-2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
  background: rgba(237, 227, 87, 10);
  border: none;
  border-radius: 15px;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
}

.centre-container {
  display: block;
  margin: 0 auto;
  width: 600px;

}

.up {
  position: relative;
  top: 10px;
  left: 60px;
}

.down {
  position: relative;
  top: 10px;
  left: 70px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
